body {
    display: flex;
    font-family: Arial;
}

.column {
    flex: 1;
    width: 50%;
    margin: 10px;
}

.code, .content {
    min-height: 30vh;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 10px;
}

.code {
    overflow-x: scroll;
}

.dog-name {
    font-size: 40px;
}

.dog-content {
    padding: 10px;
    display: flex;
}

.dog-image {
    width: 200px;
}

.dog-details {
    padding: 10px;
    flex: 1;
}